
/* line 1 : /usr/local/share/npm/lib/node_modules/stylus/lib/functions/index.styl */

/* line 9 : stdin */
del {
  position: relative;
}

/* line 11 : stdin */
del:after {
  border-bottom: 7px solid #16161d;
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0.65em;
  width: 100%;
}

/* line 20 : stdin */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "jaf-facitweb", "brandon-grotesque", helvetica, sans-serif;
  text-align: center;
  margin: 2em 0;
}

/* line 25 : stdin */
a {
  color: #ff3d3c;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

/* line 31 : stdin */
a:hover {
  color: #38374b;
}

/* line 34 : stdin */
p a {
  display: inline;
  color: #16161d;
  border-bottom: 1px solid #ff3d3c;
}

/* line 38 : stdin */
p a:hover {
  color: #ff3d3c;
}

/* line 41 : stdin */
img {
  max-width: 100%;
}

/* line 44 : stdin */
pre {
  border-radius: 2px;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.05) inset;
  color: #38374b;
  line-height: 1.1;
  padding: 0.5em 1em 0.75em;
  overflow: scroll;
}

/* line 51 : stdin */
pre code {
  background: none;
  box-shadow: none;
  padding: 0;
}

/* line 56 : stdin */
code {
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.05) inset;
  font-size: 0.875rem;
  padding: 0.25em 0.5em;
}

/* line 63 : stdin */
body {
  color: #16161d;
  font-size: 22px;
  line-height: 1.5;
  font-family: "skolar", "adelle", georgia, serif;
  margin: auto auto 2em;
  max-width: 33em;
  padding: 0 1em;
}

/* line 72 : stdin */
header {
  text-align: center;
  padding: 2.714em 0 1.857em;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 4em;
  text-rendering: optimizeLegibility;
  font-family: "jaf-facitweb", "brandon-grotesque", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 83 : stdin */
header .logo {
  width: 52px;
}

/* line 86 : stdin */
.site-nav {
  margin: 1.5em 0 0;
}

/* line 88 : stdin */
.site-nav ul {
  padding: 0;
  margin: 0;
}

/* line 91 : stdin */
.site-nav li {
  color: #38374b;
  display: inline-block;
  list-style: none;
}

/* line 95 : stdin */
.site-nav li:after {
  content: " • ";
}

/* line 97 : stdin */
.site-nav li:last-child:after {
  content: "";
}

/* line 100 : stdin */
.site-nav .is-current {
  color: #38374b;
}

/* line 104 : stdin */
.post {
  margin-bottom: 4.762em;
}

/* line 106 : stdin */
.post-title {
  font-size: 1.7272em;
  margin: 0;
}

/* line 109 : stdin */
.post-sep {
  margin: 1em auto 1.25em;
  width: 25%;
  min-width: 50px;
  border: 0;
  border-bottom: 3px solid rgba(0,0,0,0.05);
}

/* line 117 : stdin */
.image {
  padding: 0;
  margin: 1em 0;
  list-style: none;
  position: relative;
}

/* line 122 : stdin */
.image img {
  display: block;
}

/* line 125 : stdin */
.image-time {
  font-family: "jaf-facitweb", "brandon-grotesque", helvetica, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ff3d3c;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

/* line 135 : stdin */
.work {
  display: inline-block;
  font-family: "jaf-facitweb", "brandon-grotesque", helvetica, sans-serif;
  font-size: 1.428em;
  float: left;
  margin: 0;
  padding: 0;
  max-width: 60%;
}

/* line 144 : stdin */
.work h3 {
  display: none;
}

/* line 147 : stdin */
.is-gazette,
.is-bar-lawrence {
  max-width: 40%;
}

/* line 150 : stdin */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 154 : stdin */
.cf:after {
  clear: both;
}

