body {
  color: #222;
  font-size: 21px;
  line-height: 1.5;
  font-family: "garamond-premier-pro-caption", serif;
  margin: auto;
  max-width: 35em;
  padding: 0 1em;
}

del {
  position: relative;
}

del:after {
  border-bottom: 5px solid #222;
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  top: .55em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trio Grotesk", helvetica, sans-serif;
  /*font-family: "brandon-grotesque", helvetica, sans-serif;*/
  text-align: center;
  text-shadow: 2px 1px 0 rgba(0,0,0,0.1);
  margin: 2em 0;
}

a {
  color: #f00;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

a:hover {
  color: #222;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  padding: 2.714em 0 1.857em; /* 38px 0 26px */
  /*font-family: "brandon-grotesque", helvetica, sans-serif;*/
  /*letter-spacing: 1px;*/
  font-size: .666em; /* The number of the beast! 14px */
  font-weight: bold;
  text-shadow: 2px 1px 0 rgba(0,0,0,0.05);
  margin-bottom: 4em; /* 56px */
  /*text-transform: uppercase;*/
  text-rendering: optimizeLegibility;
  font-family: "Trio Grotesk", helvetica, sans-serif;
  /*font-feature-settings: "c2sc", "smcp";*/
}
header img {
  width: 50px;
}
.site-nav {
  margin: 2em 0 0;
}
.site-nav li {
  display: inline-block;
  list-style: none;
}
.site-nav li:after {
  content: " • "
}
.site-nav li:last-child:after {
  content: ""
}
.site-nav .is-current {
  color: #222;
}

article {
  margin-bottom: 4.762em;
}

article h4 {
  font-size: 1.333em; /* 28px */
  margin-bottom: .5em; /* 18px */
  padding-bottom: .5em;
  border-bottom: 2px solid rgba(0,0,0,0.1)
}

ul {
  margin: 0;
  padding: 0;
}

.image {
  box-sizing: border-box;
  background: #f00;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.1) inset;
  display: block;
  position: relative;
  -webkit-transition: box-shadow .2s cubic-bezier(0,.5,.75,1);
}

.image:hover {
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
  z-index: 2;
}

.image img {
  /*border-radius: 1px;*/
  display: block;
  opacity: 1;
  -webkit-transition: opacity .2s cubic-bezier(0,.5,.75,1);
}
.image:hover img {
  opacity: .25;
}

.image-caption {
  font-family: "Trio Grotesk", helvetica, sans-serif;
  /*font-family: "brandon-grotesque", helvetica, sans-serif;*/
  text-shadow: 2px 1px 0 rgba(0,0,0,.0);
  position: absolute;
  color: rgba(255,255,255,0);
  width: 100%;
  top: 50%;
  font-size: 1.333em;
  font-weight: bold;
  margin-top: -1.5em;
  text-align: center;
  pointer-events: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: scale(1.4);
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, transform .2s cubic-bezier(0,.5,.75,1);
  transition-delay: 0, 0, .2s;
  -webkit-transform: scale(1.4);
  -webkit-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, -webkit-transform .2s cubic-bezier(0,.5,.75,1);
  -webkit-transition-delay: 0, 0, .2s;
}
.image-caption time {
  font-family: "garamond-premier-pro-caption", serif;
  font-size: .75em;
  font-weight: normal;
}
.image:hover .image-caption {
  color: rgba(255,255,255,1);
  text-shadow: 2px 1px 0 rgba(0,0,0,0.2);
  transform: scale(1);
  transition-delay: 0, 0, 0;
  -webkit-transform: scale(1);
  -webkit-transition-delay: 0, 0, 0;
}


.l-work li {
  display: inline;
  font-family: "Trio Grotesk", helvetica, sans-serif;
  /*font-family: "brandon-grotesque", helvetica, sans-serif;*/
  font-size: 1.428em;
  list-style: none;
  text-shadow: 2px 1px 0 rgba(0,0,0,0.05);
}

.l-work li:after {
  content: " • "
}

.l-work li:last-child:after {
  content: ""
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
