body {
  color: #222;
  font-size: 21px;
  line-height: 1.5;
  font-family: "garamond-premier-pro-caption", serif;
  margin: auto;
  max-width: 735px;
  padding: 0 1em;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  /*color: #f00;*/
  font-family: "brandon-grotesque", helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 1px 0 rgba(0,0,0,0.1);
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  padding: 100px 0 80px;
}

article {
  margin-bottom: 100px;
}

article h4 {
  font-size: 1.333em; /* 28px */
  margin-bottom: 0.5em; /* 12px */
}
article h4 + p {
  margin-top: 0;
}

#images {
  margin: 0;
  padding: 0;
}

.image {
  box-sizing: border-box;
  background: #f00;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.1) inset;
  display: block;
  width: 50%;
  float: left;
  position: relative;
  -webkit-transition: box-shadow .2s cubic-bezier(0,.5,.75,1);
}

.image:hover {
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}

.image img {
  /*border-radius: 1px;*/
  display: block;
  opacity: 1;
  -webkit-transition: opacity .2s cubic-bezier(0,.5,.75,1);
}
.image:hover img {
  opacity: .25;
}

.image-caption {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  text-shadow: 2px 1px 0 rgba(0,0,0,.0);
  position: absolute;
  color: rgba(255,255,255,0);
  width: 100%;
  top: 50%;
  font-size: 18px;
  margin-top: -1.5em;
  text-align: center;
  pointer-events: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: scale(1.4);
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, transform .2s cubic-bezier(0,.5,.75,1);
  transition-delay: 0, 0, .2s;
  -webkit-transform: scale(1.4);
  -webkit-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, -webkit-transform .2s cubic-bezier(0,.5,.75,1);
  -webkit-transition-delay: 0, 0, .2s;
}
.image-caption time {
  font-family: "garamond-premier-pro-caption", serif;
  font-size: 16px;
}
.image:hover .image-caption {
  color: rgba(255,255,255,1);
  text-shadow: 2px 1px 0 rgba(0,0,0,0.2);
  transform: scale(1);
  transition-delay: 0, 0, 0;
  -webkit-transform: scale(1);
  -webkit-transition-delay: 0, 0, 0;
}
