{% capture body %}
  <article class="post">
    {% if meta['lead_image'] %}
      <figure class="post-lead-image image">
        <img src="{{ meta['lead_image'] }}">
      </figure>
    {% endif %}
    <h1 class="post-title">{{title}}</h1>
    <hr class="post-sep">
    {{body}}
    {% if meta['lead_caption'] %}
      <figcaption class="post-lead-caption">
        Image source: <br>
        <i>{{ meta['lead_caption'] }}</i>
      </figcaption>
    {% endif %}
  </article>
{% endcapture %}

{% include 'layouts/default' %}
